#main-content {
  height: 100vh;
  display: flex;
  align-items: center;
}
#content {
  text-align: center;
  background-image: linear-gradient(-45deg, #4776e6, #8e54e9);
  padding: 20px;
  border-radius: 40px;
  color: #fafafa;
  margin: 0 auto;
  font-size: 24px;
  font-family: "Lucida Sans", "Lucida Sans Regular", sans-serif;
  text-transform: capitalize;
  box-shadow: 0 10px 20px rgba(41, 72, 255, 0.19),
    0 6px 6px rgba(41, 72, 255, 0.23);
}

.dot {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  display: inline-block;
}
.online {
  background-color: greenyellow;
}
.offline {
  background-color: #f44336;
}
